
   body { 
     background: rgb(0,0,0);
     background: radial-gradient(circle, rgba(0,0,0,0.028124999999999956) 0%, rgb(237, 120, 181) 100%);
     font-family: Arial, sans-serif;
     text-align: center;
     margin-top: 50px;
   }

   .main-container {
     background: rgb(25, 19, 19);
     width: 400px;
     margin: 0 auto;
     border: 2px solid #0033ff;
     padding: 20px;
     color: white;
     border-radius: 15px;
   }

   .ta-container{
     margin: 5px;
     font-size: 20px;
     text-align: center;
   }
   
   h2 {
    margin-bottom: 50px;
    padding-bottom: 50px;
   }
   
   